resources/raw_data
resources/ldsr
resources/refs/
resources/scDRS
results/h5ad_objects/
results/magma/*.magma.genes.out
results/magma/*.gsa.sets.genes.out  
results/magma/*.genes.raw           
results/magma/*.log
results/magma/*.gsa.genes.out       
results/magma/*.genes.annot
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_*_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_*_baseline.v1.2.results 
results/gene_lists/.DS_Store
results/gene_lists/LDSR/.DS_Store
results/gene_lists/MAGMA/.DS_Store
workflow/.DS_Store
workflow/scripts/.DS_Store
.DS_Store
resources/.DS_Store
results/.DS_Store
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_0_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_0_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_1_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_1_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_2_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_2_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_3_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_3_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Early_InN_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Early_InN_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_0_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_0_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_1_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_1_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_2_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_2_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_3_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_3_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_4_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_4_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_5_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_5_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_6_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_6_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_7_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_7_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_0_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_0_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_1_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_1_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_2_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_2_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_3_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_3_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_4_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_4_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_5_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_5_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Microglia_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Microglia_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Other_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Other_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_0_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_0_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_10_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_10_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_1_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_1_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_2_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_2_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_3_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_3_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_4_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_4_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_5_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_5_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_6_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_6_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_7_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_7_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_8_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_8_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_9_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_9_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_HEIGHT_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_SCZ_baseline.v1.2.log
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_0_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_0_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_1_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_1_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_2_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_2_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_3_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_3_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_CGE_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Early_InN_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Early_InN_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_0_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_0_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_1_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_1_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_2_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_2_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_3_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_3_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_4_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_4_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_5_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_5_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_6_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_6_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_7_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_7_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_LGE_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_0_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_0_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_1_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_1_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_2_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_2_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_3_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_3_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_4_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_4_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_5_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_5_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_MGE_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Microglia_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Microglia_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Other_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Other_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_0_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_0_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_10_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_10_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_1_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_1_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_2_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_2_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_3_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_3_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_4_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_4_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_5_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_5_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_6_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_6_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_7_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_7_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_8_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_8_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_9_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_9_SCZ_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_HEIGHT_baseline.v1.2.results
results/LDSR_part_herit/baseline_v1.2/snRNAseq_LDSR_Progenitor_SCZ_baseline.v1.2.results
