resources/raw_data
resources/ldsr
resources/refs/
resources/scDRS
results/h5ad_objects/
results/05LDSR/part_herit/baseline_v1.2/snRNAseq_LDSR_*_baseline.v1.2.log
results/05LDSR/part_herit/baseline_v1.2/snRNAseq_LDSR_*_baseline.v1.2.results 
results/05LDSR/part_herit/baseline_v1.2/shi_bc_dwnSmpl/snRNAseq_LDSR_*_baseline.v1.2.log
results/05LDSR/part_herit/baseline_v1.2/shi_bc_dwnSmpl/snRNAseq_LDSR_*_baseline.v1.2.results
results/05LDSR/part_herit/baseline_v1.2/shi_bc_dwnSmpl/*
results/05LDSR/part_herit/baseline_v1.2/*.log
results/gene_lists/.DS_Store
results/gene_lists/LDSR/.DS_Store
results/gene_lists/MAGMA/.DS_Store
workflow/.DS_Store
workflow/scripts/.DS_Store
.DS_Store
resources/.DS_Store
results/.DS_Store
results/04MAGMA/*.magma.genes.out
results/04MAGMA/*.gsa.sets.genes.out
results/04MAGMA/*.genes.raw
results/04MAGMA/*.log
results/04MAGMA/*.genes.out
results/04MAGMA/*.log.suppl
results/04MAGMA/*.gsa.genes.out
results/04MAGMA/*.genes.annot
results/04MAGMA/magma_conditional/*.log
results/04MAGMA/magma_conditional/*.gsa.genes.out
results/04MAGMA/magma_conditional/*.genes.annot
results/04MAGMA/magma_conditional/*.gsa.sets.genes.out
results/magma_conditional/*.gsa.genes.out
results/magma_conditional/*.gsa.sets.genes.out
results/magma_conditional/*.log
results/04MAGMA/magma_diffexp/*.log
results/04MAGMA/magma_diffexp/*.gsa.genes.out
results/04MAGMA/magma_diffexp/*.genes.annot
results/04MAGMA/magma_diffexp/*.gsa.sets.genes.out
results/LDSR_part_herit/baseline_v1.2/*.log
results/05LDSR/part_herit/baseline_v1.2/*.results
results/05LDSR/part_herit/baseline_v1.2/LDSR_top_1000_genes/*baseline.v1.2.log
results/05LDSR/part_herit/baseline_v1.2/LDSR_top_1000_genes/*baseline.v1.2.results
results/05LDSR/part_herit/baseline_v1.2/LDSR_cond_public/*baseline.v1.2.log
results/05LDSR/part_herit/baseline_v1.2/LDSR_cond_public/*baseline.v1.2.results
results/05LDSR/part_herit/baseline_v1.2/LDSR_cond_int/*baseline.v1.2.log
results/05LDSR/part_herit/baseline_v1.2/LDSR_cond_int/*baseline.v1.2.results
workflow/scripts/scanpy_desktop.py
workflow/scripts/snRNAseq_GE_create_covariates.py
workflow/scripts/snRNAseq_GE_create_z_scores.py
workflow/scripts/snRNAseq_GE_plots_for_paper.R
workflow/scripts/snRNAseq_GE_prepare_data_for_scDRS.py
workflow/scripts/snRNAseq_GE_scDRS_visualisation.R
workflow/scripts/snRNAseq_GE_scDRS_visualisation.py
results/05LDSR/part_herit/baseline_v1.2/LDSR_DIFFEXP/*.log
results/05LDSR/part_herit/baseline_v1.2/LDSR_DIFFEXP/*.results
